{% extends 'base.html' %}

{% block title %}  Pets Page  {% endblock %}


{% block content %}


    {% for pet in pets %}

    <div class = 'container text-center'>
      <div class = 'row'>
       <div class = 'col 3'> 
         <h3> {{pet.name}} </h3>
         <img src = '{{pet.picture_url}}' width = '250px'>

         {% if pet.avaliable == True %}

            <p> <b> Avaliable </b> </p>

         {% endif %}

         <a href = 'pets/{{pet.id}}'> Details Page </a>
       </div>
      </div>
    </div>


    {% endfor %}


{% endblock %}


